
*{
    padding:0;
    margin:0;
}

body {
    background-color: #001C33;
    color:#fff;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    margin:0 50px;
}

.container {
    min-width:992px;
    max-width:90%;
    margin:auto;
}

/* header */
.header {
    display:grid;
    grid-template-columns: 1fr 1fr .45fr;
    align-items: center;
    height: 50px;
    background-color:#001B2D;
    min-width:992px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.header h4 {
    font-size: 1.1em;
}

.nama {
    color:#05a5a5;
    margin-left:50px;
}
.header .dark-mode span {
    display:inline-block;
}
.dark-mode{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}
.toggle-button {
    width:50px;
    height:19px;
    background-color: rgb(0,0,0);
    border-radius: 20px;
}
.bulatan {
    width:19px;
    height:19px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
    transition:all 1s;
}
.dark{
    font-weight: bold;
}
/* akhir header */

/* awal home */
.home {
    width:800px;
    margin: 150px auto;
    text-align: center;
    margin-bottom:400px;
}

.home .heroimage {
    width:500px;
    height:500px;
    border-radius: 50%;
    margin:auto;
    background-image: url(img/1.png);
    background-position: center;
    background-size: cover;
    background-color: #fff;
}
.home h1 {
    font-size: 3em;
}
.home h3 {
    margin-bottom:20px;
}
/* akhir home */

/* awal portofolio */
.portofolio {
    margin:0 auto;
    min-width:800px;
    text-align: center;
    margin-bottom:400px;
}
.portofolio h1{
    font-size: 5em;
    margin-bottom: 30px;
}
.portofolio h4{
    font-size: 1.7em;
    line-height: 10px;
    color:#008080;
}
.portofolio .cards {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    min-width:800px;
    row-gap:50px;
    column-gap:30px;
}
.kotak {
    width:300px;
    height:200px;
    background-color: #000;
    border-radius: 20px;
    margin:5px auto;
    border:1px solid rgba(255, 255, 255, .5);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.card:first-child .kotak {
    background-image: url(img/calculator.png);
}
.card:nth-child(2) .kotak {
    background-image: url(img/todolist.png);
}
.card:nth-child(3) .kotak {
    background-image: url(img/movie.png);
}
.tombolGithub {
    background-color:#189e9e;
    width:150px;
    margin: 10px auto;
    padding:10px 0;
    border-radius: 30px;
}
.card a {
    text-decoration: none;
    color:#fff;
}
/* akhir portofolio */

/* awal about me */
.aboutme {
    text-align: center;
    margin-bottom: 400px;
}
.aboutme h4 {
    font-size: 1.7em;
    margin:20px;
    color:#008080;
}
.container-aboutme {
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}
.aboutme .gambar-kecil {
    height:200px;
    width:200px;
    background-color: #fff;
    border-radius: 20px;
}
.information p {
    text-align: justify;
    font-size: 1.2em;
}
/* akhir about me */


/* awal contact */
.contact {
    margin: 100px auto;
    text-align: center;
    text-transform: capitalize;
}

.contact form {
    text-align: left;
    margin-top: 50px;
}
.contact form input {
    width:100%;
    border-radius: 5px;
    height:30px;
    border:2px solid black;
    margin-bottom: 20px;
}
#pesan {
    height: 150px;
    text-align: left;
}
#contact {
    font-size: 1.7em;
    line-height: 5px;
    color:#008080;
}
.contact h1{
    font-size: 5em;
    margin-bottom: 5px;
}
.contact form button {
    width:100%;
    height: 40px;
    background-color: #189e9e;
    border:1px solid #fff;
    border-radius: 20px;
    color:#fff;
    font-size: 1em;
}
/* akhir contact */

/* awal lightbox */
.containerLBox {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
}
.lightbox {
    position:fixed;
    top:30%;
    background-color: #000;
    width:40%;
    height:300px;
}
/* akhir lightbox */


/* kelas animation */
.geserKanan {
    transform:translateX(31px);
}
.geserKiri {
    transform:translateX(0);
}
/* akhir animation */

























