
*{
    padding:0;
    margin:0;
}

body {
    background-color: rgb(0, 28, 51);
    color:#fff;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    margin:0 50px;
}

.container {
    /* min-width:992px; */
    width:100%;
    margin:0 auto;
}

/* header */
.header {
    display:grid;
    grid-template-columns: 1fr 1fr .45fr;
    align-items: center;
    height: 50px;
    background-color:#001B2D;
    /* min-width:992px; */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
}
.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color:#fff;
}
.header h4 {
    font-size: 1.1em;
}

.nama {
    color:#05a5a5;
    margin-left:50px;
}
.header .dark-mode span {
    display:inline-block;
}
.dark-mode{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}
.toggle-button {
    width:50px;
    height:19px;
    background-color: rgb(0,0,0);
    border-radius: 20px;
}
.bulatan {
    width:19px;
    height:19px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
    transition:all 1s;
}
.dark{
    font-weight: bold;
}
/* syntax default */
.humburger-menu {
    display:none;
}
/* akhir syntax default */

/* responsive breakpoint */

/* akhir responsive breakpoint */
@media only screen and (max-width:767px){
    .navbar {
        display:none;
    }
    .dark-mode {
        display:none;
    }
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
    .humburger-menu {
        display:flex;
        justify-self:flex-end;
        margin-right: 20px;
        flex-direction: column;
        height:20px;
        justify-content: space-between;
    }
    .humburger-menu span:first-child {
        transform-origin: 0 0;
    }
    .humburger-menu span:last-child {
        transform-origin: 0 100%;
    }
    .humburger-menu span {
        display:block;
        width:28px;
        height:3px;
        background-color: rgb(255,255,255);
        border-radius: 3px;
        transition:all .5s;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){

}
/* akhir header */

/* awal home */
.home {
    /* width:800px; */
    margin: 150px auto;
    text-align: center;
    margin-bottom:400px;
}

.home .heroimage {
    width:500px;
    height:500px;
    border-radius: 50%;
    margin:auto;
    background-image: url(img/1.png);
    background-position: center;
    background-size: cover;
    background-color: #fff;
}
.home h1 {
    font-size: 3em;
}
.home h3 {
    margin-bottom:20px;
}
/* akhir home */

/* awal portofolio */
.portofolio {
    margin:0 auto;
    /* min-width:800px; */
    text-align: center;
    margin-bottom:250px;
}
.portofolio h1{
    font-size: 5em;
    margin-bottom: 30px;
}
.portofolio h4{
    font-size: 1.7em;
    line-height: 10px;
    color:#008080;
}
.portofolio .cards {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:100%;
    row-gap:50px;
    justify-items: center;
    align-items: center;
}
.card {
    width:50%;
}
.kotak {
    height:200px;
    background-color: #000;
    border-radius: 20px;
    margin:5px auto;
    border:1px solid rgba(255, 255, 255, .5);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.kotak:hover {
    cursor:pointer;
    opacity:.8;
}
.card:first-child .kotak {
    background-image: url(img/calculator.png);
}
.card:nth-child(2) .kotak {
    background-image: url(img/todolist.png);
}
.card:nth-child(3) .kotak {
    background-image: url(img/movie.png);
}
.tombolGithub {
    background-color:#189e9e;
    max-width:150px;
    margin: 10px auto;
    padding:10px 0;
    border-radius: 30px;
}
.tombolGithub:hover {
    cursor:pointer;
    text-decoration:underline;
    color:rgb(0,0,255);
}
.card a {
    text-decoration: none;
    color:#fff;
}
/* akhir portofolio */

/* awal about me */
.aboutme {
    text-align: center;
    margin-bottom: 400px;
}
.aboutme h4 {
    font-size: 1.7em;
    margin:20px;
    color:#008080;
}
.container-aboutme {
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}
.aboutme .gambar-kecil {
    height:200px;
    width:200px;
    background-color: #fff;
    border-radius: 20px;
}
.information p {
    text-align: justify;
    font-size: 1.2em;
}
/* akhir about me */


/* awal contact */
.contact {
    margin: 100px auto;
    text-align: center;
    text-transform: capitalize;
}

.contact form {
    text-align: left;
    margin:50px 0;
    width:90%;
    margin:20px auto;
}
.contact form input {
    width:100%;
    border-radius: 5px;
    height:30px;
    border:2px solid black;
    margin-bottom: 20px;
}
#pesan {
    height: 150px;
    text-align: left;
}
.tulisanContact {
    font-size: 1.7em;
    line-height: 5px;
    color:#008080;
}
.contact h1{
    font-size: 5em;
    margin-bottom: 5px;
}
.contact form button {
    width:100%;
    height: 40px;
    background-color: #189e9e;
    border:1px solid #fff;
    border-radius: 20px;
    color:#fff;
    font-size: 1em;
}
/* akhir contact */

/* awal lightbox */
.lightBoxContainer {
    width:100%;
    display:flex;
    justify-content: center;
}
.lightBox {
    position:fixed;
    top:12%;
    background-color: #fff;
    width:600px;
    height:500px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border:2px solid #000;
    animation:fadeIn .5s;
    display:flex;
    flex-direction: row-reverse;
}
.xButton {
    width:50px;
    height:50px;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    line-height: 50px;
    margin:5px;
    font-weight: bold;
}
.xButton:hover {
    cursor:pointer;
}
/* akhir lightbox */


/* kelas animation */
.geserKanan {
    transform:translateX(31px);
}
.geserKiri {
    transform:translateX(0);
}
@keyframes fadeIn {
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    } to {
        opacity:0;
    }
}
/* akhir animation */


/* kelas kelas responsive */
.light-mode {
    background-color: #ddd;
    color:#000;
}
/* akhir kelas kelas responsive */